<h1>Order successfully placed!</h1><h2>Order Confirmation</h2>

<h3>Order ID: <%= @order.id %></h3>
<h3>Order Subtotal: <%= @order.subtotal %></h3>
<h3>Order Tax: <%= @order.tax %></h3>
<h3>Order Total: <%= @order.total %></h3>