<h1>Hello </h1>

<!-- 
Items available to you are...
 <button type="button" class="btn btn-primary">Primary</button> -->

<h1>SHOW Page</h1> 
<h2></h2>
<br>
<br>

<h2><%= @item.brand %></h2>
<h2><%= @item.category %></h2>
<h2><%= @item.price.to_s %></h2>
<h2><%= @item.description %></h2>
