<!DOCTYPE html>
<html>

  <head>
    <title> BestStuff </title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <nav class= "navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">My Store!!</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/products">Index</a></li>
      <li><a href="/products/new">New Entry</a></li>
    </ul>
  </div>
  </nav>
    <br>
    <br>
    <br>
    <h5><a href="#BOTTOM">Jump to Bottom</a></h5>
    <a name="TOP"></a>
    <%= yield %>
    <div id="BOTTOM"></div>
    <h5><a href="#TOP">Back to Top</a></h5>
  </body>

</html>
